nav {
  width: 100%;
  height: 60px;
  background-color: rgb(147, 0, 0);
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

nav h4 {
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  opacity: 0.8;
}